.process .item {
    position: relative;
    padding: 50px 30px;
    border-radius: 20px 20px 20px 0;
    background: #222;
    z-index: 2;
    height: 270px;
}
html,body{
    overflow-x: hidden;
}

@media only screen and (max-width: 600px) {
  .s-subscribe .container img{display:none;}
  .subscribe-left{width:100%;}
}